[MASTER]
disable=
    C0114, # missing-module-docstring
    C0116, # missing-function-docstring
    W0511, # fixme
    E0401, # import-error
    C0115, # missing-class-docstring
    R0914, # too-many-locals
    R0915, # too-many-statements